# Ignore node_modules folder
node_modules/

# Ignore package-lock.json if not needed
package-lock.json

# Ignore macOS system files
.DS*

# Ruby and Jekyll files
vendor/
.bundle/
.sass-cache/
_site/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
Gemfile.simple.lock

# Ruby version files
.ruby-version
.rbenv-version