<style>
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add spacing between icons */
    list-style: none; /* Remove dots around icons */
    padding: 0; /* Remove default padding */
  }
</style>

<div class="sidebar">
  <img src="/assets/img/avatar.jpg" alt="Profile Picture" class="profile-pic">
  <h2 class="name">Arnab Dey</h2>
  <ul class="social-icons">
    <li><a href="https://linkedin.com/in/arnabdey73" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://github.com/arnabdey73" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="mailto:arnabdey009@gmail.com"><i class="fas fa-envelope"></i></a></li>
    <li><a href="https://bsky.app/profile/arnabdey73.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i></a></li>
  </ul>
  <a href="https://github.com/arnabdey73/resume/raw/master/Arnab-Dey-Cloud-DevOps-Engineer.pdf" class="cta" download>Download Resume</a>
</div>