body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ddd;
    text-align: justify;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
}

.profile {
    text-align: left;
    padding: 10px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 5px;
}

p {
    font-size: 16px;
    color: #bbb;
}

.social-icons a {
    color: #bbb;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffffff;
}
