---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/19a52b3bff.js" crossorigin="anonymous"></script>
    <style>
      .margin-top-20 {
        margin-top: 20px;
      }
      .container {
        display: flex;
        flex-direction: row;
      }
      .content {
        flex: 1;
        margin-left: 20px; /* Add spacing between sidebar and content */
      }
    </style>
</head>
<body>
  <header>
    {%- include header.html -%}
  </header>

  <!-- Include the hero banner at the top of the page -->
  {% include hero-banner.html %}

  <div class="container">
    <aside class="sidebar">
      <!-- Reverting sidebar content -->
      {%- include sidebar.html -%}
    </aside>

    <main class="content">
      <!-- Reverting banner and insights -->
      {% if page.layout == 'home' %}
        <div class="banner">
          <img src="/assets/img/banner.png" alt="Banner Image" class="banner-img">
        </div>
        <section class="recent-posts">
          <h2>Recent Posts</h2>
          <div class="blog">
            <p>Dive into my latest articles on technology, programming, and personal growth. Discover insights, tutorials, and stories that inspire and educate. Visit my Hashnode blog for more!</p>
            <p><a href="https://codemyinfra.hashnode.dev/" target="_blank">Read More on Hashnode</a></p>
          </div>
        </section>
      {% else %}
        {{ content }}
      {% endif %}
    </main>
  </div>

  <footer>
    {%- include footer.html -%}
  </footer>
</body>
</html>
